- label = @client_apps.blank? ? t('client_app.learn_more') : t('client_app.need_help')

- align = @client_apps.blank? ? 'center' : 'right'

%div{ class: "text-#{align}" }
  = link_to label, info_client_apps_path, class: 'btn btn-link'
