#formModal.modal.fade.follow-up-modal{"aria-hidden" => "true", "data-backdrop": "static", "aria-labelledby" => "newTemplateLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title

        %button.close{ type: "button", "data-dismiss": "modal", "aria-label": "Close" }
          %span{ "aria-hidden": true }
            &times;

      .modal-body-content
