.form-group.row.border-top.mx-0.p-2.mb-1
  %label.col-sm-2.col-form-label{ for: :description }
    = t('milestone.description') + ":"
  .col-sm-10
    = f.text_area :description, class: "form-control"