- predefined_fields = @milestone.is_default? ? Field.roots : Field.defaults
- predefined_fields = predefined_fields.select { |field| field[:code] != 'source' }

%fieldset
  %legend= t('milestone.primary_fields')

  %ol.fields
    - predefined_fields.each do |obj|
      %li
        %fieldset.fieldset
          .field-wrapper
            %button.btn.move{type: :button, style: 'cursor: auto'}

            .wrapper.flex-row-vertical-center
              %input.field-type{type: :hidden, value: obj[:field_type]}
              .form-control.field-name.as-title.flex-row-vertical-center= obj[:name]

              - if obj[:required]
                .as-title= t('milestone.required')

          = render 'kinds'
