- predefined_fields ||= Field.roots
%fieldset
  %legend Primary Fields
  .fieldsets
    - predefined_fields.each do |obj|
      .field-wrapper{style: 'margin-bottom: 3px'}
        .wrapper
          %select.form-control.field-type.w-35{disabled: true}
            %option= obj[:field_type]
          %input.form-control.field-name.w-35{value: obj[:name], disabled: true}
