- predefined_fields ||= [{type: 'integer', value: 'Value'}, {type: 'text', value: 'Description'}, {type: 'location', value: 'Location'}, {type: 'date', value: 'Event Date'}, {type: 'date', value: 'Report Date'}]
%fieldset
  %legend Primary Fields
  .fieldsets
    - predefined_fields.each do |obj|
      .field-wrapper{style: 'margin-bottom: 3px'}
        .wrapper
          %select.form-control.field-type.w-35{disabled: true}
            %option= obj[:type]
          %input.form-control.field-name.w-35{value: obj[:value], disabled: true}
