- predefined_fields ||= Field.roots
%fieldset
  %legend= t('milestone.primary_fields')

  %ol.fields
    - predefined_fields.each do |obj|
      %li
        %fieldset.fieldset
          .field-wrapper
            %button.btn.move{type: :button, style: 'cursor: auto'}
            .wrapper.flex1
              %input.field-type{type: :hidden, value: obj[:field_type]}
              .form-control.field-name.as-title.flex-row-vertical-center= obj[:name]

          = render 'kinds'
