#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('milestone.edit_milestone')

  .w-75.view-center.milestone-form
    = simple_form_for @milestone, url: milestone_path(@milestone), method: :put do |f|
      = render 'form', f: f
