#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('milestone.new_milestone')

  .w-75.view-center
    = simple_form_for @milestone, url: milestones_path(@milestone), method: :post do |f|
      = render 'form', f: f
