# Rails configuration
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5

REDIS_URL=redis://redis:6379

# Shell with unicode support
LANG=C.UTF-8

# Mandrill
SETTINGS__SMTP__ADDRESS=smtp.mandrillapp.com
SETTINGS__SMTP__DOMAIN=domain
SETTINGS__SMTP__USER_NAME=email
SETTINGS__SMTP__PASSWORD=api-key
SETTINGS__SMTP__HOST=localhost:3000
SETTINGS__SMTP__DEFAULT_FROM=CamEMS<notifications@example.org>

# Event Notification (telegarm, webhook, elasticsearch)
ENABLE_EVENT_WORKER=true

MAXIMUM_DOWNLOAD_RECORDS=10000

# Dashboard url
DASHBOARD_URL=http://kibana:5601

HOST_URL=http://localhost:3000
TELEGRAM_CALLBACK_URL=https://ngrok.io/telegram

SENTRY_LOGGER_DSN=xyz

APP_NAME=Event Base Surveillance
APP_SHORTCUT_NAME=EBS

VERSION=0.0.7

#Google Signin
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Firebase analytics
API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDERID=
APP_ID=
MEASUREMENT_ID=

# whitelist ip with comma separated
# Telegram ip list: https://ipinfo.io/AS62041#block-ranges
ALLOWED_HOSTS=91.108.4.0,91.108.4.0/22

# Recaptcha
# https://www.google.com/recaptcha/admin/create
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_ENABLED=false

# Outbreak report
MBDS_BASE_URI=
MBDS_USERNAME=
MBDS_PASSWORD=
MBDS_ENABLED=false
MBDS_CREATOR_EMAIL=abc@email.com # the user must associate with a program
