.wrapper
  = render 'shared/sidebar'

  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %h3 New Form Type

    .w-50.view-center
      = form_for @form_type, url: event_type_form_types_path(@event_type), method: :post do |f|
        = render 'form', f: f
