%p= t('mailer.welcome', email: @user.email)
%p= t('mailer.confirm_your_account_through_below_link')
%p= link_to t('mailer.cofnirm_my_account'), confirmation_url(@user, confirmation_token: @user.confirmation_token)
