.logo-wrapper.flex-row
  .program.mr-5
    = image_tag 'gdahp.jpg', class: 'logo'
    %h4.title.text-center អគ្គនាយកដ្ឋានសុខភាពសត្វ និងផលិតកម្មសត្វ

  .program
    = image_tag 'cdc.jpg', class: 'logo'
    %h4.title.text-center នាយកដ្ឋានប្រយុទ្ធនឹងជំងឺឆ្លង នៃក្រសួងសុខាភិបាល
