.mx-2{'data-language-code' => I18n.locale }
  #daterange.input-group
    .form-control.pointer.d-flex.align-items-center
      %span{'data-placeholder' => t('event.search_by_date')}= t('event.search_by_date')

    %a.input-group-append.pointer
      .input-group-text
        %i.far.fa-calendar

  %input.start-date{ type: 'hidden', name: 'start_date', value: params[:start_date] }
  %input.end-date{ type: 'hidden', name: 'end_date', value: params[:end_date] }
