- content = sanitize render(partial: 'events/follow_ups/popup', locals: {event: event})

%a.d-inline-block.position-relative{ data: { toggle: 'popover', trigger: 'click', html: 'true', content: "#{content}"}, role: 'button', tabindex: '0'}

  = form_with do |f|
    %span{ class: 'btn rounded-circle btn-sm btn-outline-info mr-1', data: { toggle: 'tooltip', placement: 'top', title: t('event.follow_up')}}
      %i.fas.fa-comment-dots
