%a.d-inline-block.position-relative{ data: { toggle: 'popover', trigger: 'focus', html: 'true', content: sanitize(render(template: 'events/follow_ups/popup', locals: {event: event}))}, role: 'button', tabindex: '0'}

  %span{ class: 'btn rounded-circle btn-sm btn-outline-info mr-1', data: { toggle: 'tooltip', placement: 'top', title: t('event.follow_up')}}
    %i.fas.fa-comment-dots
