.d-flex{style: 'position: absolute; right: 20px;'}
  - if policy(Event).download?
    %button.btn.btn-outline-info.btn-sm.shadow-sm.mr-2{"data-target" => "#template-model", "data-toggle" => "modal", :type => "button"}
      %i.fas.fa-download
      = t('event.download_csv')

  = render 'shared/add_new_button', path: new_event_path, name: t('event.event') if policy(Event).create?
