#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3 Map

  #map

:javascript
  const eventData = #{ raw @event_data.to_json }
  const eventLegend = #{ raw @event_legend.to_json }
