#content
  %form#event-form.form-inline{ method: :get }
    .form-group.mb-2
      %label{ for: :event_event_type } Event Type:&nbsp;
      = select_tag 'event_type_id', options_from_collection_for_select(@event_types, 'id', 'name', params[:event_type_id]), include_blank: "All", class: 'form-control'

    .form-group.mb-2
      = render 'events/filter_date'

    %button.btn.btn-primary.mb-2{ type: 'submit' } Apply

  #map

  - unless @event_data.present?
    .no-data
      %span No result found!

:javascript
  const eventData = #{ raw @event_data.to_json };
  const startDate = "#{ @start_date.strftime('%m/%d/%Y') }";
