- field_name = field.name.downcase
- error_msg = main_object.errors["#{field_name}"]

.form-group{ class: ('form-group-invalid' if error_msg.present?) }
  = render 'events/fields/label_name', f: f, field_name: field_name, field: field

  .input-group.date{'data-provide' => 'datepicker'}
    = f.text_field :value, value: f.object.value, class: ['form-control', ('is-invalid' if error_msg.present?)], autocomplete: 'off', placeholder: 'yyyy-mm-dd'
    .input-group-append
      .input-group-text
        %i.fas.fa-calendar-alt

  - if error_msg.present?
    .invalid-feedback= error_msg.join('; ')
