= f.label field_name do
  = field_name.upcase_first
  - if field.required?
    %abbr{:title => "required"} *
  - if field.description.present?
    %i.fa.fa-question-circle{ data: { toggle: "tooltip", html: "true" }, title: field.description }

= f.hidden_field :field_code, value: field.code
= f.hidden_field :field_id, value: field.id
