.notify-message {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.medium-width {
  width: 90%;
  margin: 0 auto;
}

.view-center {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.drop-menu-icon {
  width: 30px;
}

.pagy-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}

.list li{
  display: flex;
  padding: 10px 0;

  .type {
    display: block;
    width: 200px;
  }
  .value {

  }
}

.actions {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

pre {
  word-wrap: break-word;
  word-break: break-word;
  padding: 10px;
  margin: 1em 0;
  line-height: 1.65;
  border: 1px solid #EAEAEA;
  color: #333;
  background: #f8f8f8;
  overflow: auto;
}

.chart {
  color: #007bff;
}
