.icon-delete {
  color: #D08B8C;
}

.icon-gray {
  color: #858F98;
}

.icon-green {
  color: #28a745;
}

.icon-red {
  color: #dc3545;
}

.icon-telegram {
  color: #229ED9
}

.icon-email {
  color: #D44638
}

.icon-24 {
  font-size: 24px;
}
