.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;

  &.thumbnail {
    width: 40px !important;
    height: 40px !important;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .file_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    opacity: 0;

    .file_avata {
      height: 100%;
    }
  }

  .btn-delete {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 2px;
  }

  .pointer {
    cursor: pointer;
  }

  .program_remove_logo {
    position: absolute;
    left: -100%;
  }
}
