%form{ action: '/users', method: 'get' }
  .d-flex
    .form-group.mr-2
      = text_field_tag(:email, params[:email], class: 'form-control filter-input', placeholder: t('user.search_by_email'), id: 'email')

    = render 'events/index/filter_province', provinces: Location.pumi_all_provinces, placeholder: t('shared.search_by_province')

    %div
      %button.btn.btn-primary.ml-md-2{type: :submit}
        %i.fas.fa-search
        %span.d-none.d-lg-inline= t('event.search')
