.d-flex.mt-3.pt-2.border-top
  .column.mr-2
    %label=t('milestone.condition')
    = ff.select(:operator, Field.validation_operators, {:include_blank => t('shared.please_select')}, class: ["form-control custom-select"])

  .column
    %label=t('milestone.relevant_field')

    - collection = collection.select {|f| f[:code] != field.relevant_format_code}.pluck(:name, :code)

    = ff.select(:relevant_field_code, collection, {:include_blank => t('shared.please_select')}, class: ["form-control custom-select"])
