.field-type-wrapper
  .flex-row
    .flex1
      .field-type-list{'data-field_type' => 'select_one'}
        %i.far.fa-dot-circle.icon
        Select one

      .field-type-list{'data-field_type' => 'select_multiple'}
        %i.fas.fa-list-ul.icon
        Select Multiple

      .field-type-list{'data-field_type' => 'date'}
        %i.fas.fa-calendar-alt.icon
        Date

      .field-type-list{'data-field_type' => 'integer'}
        %strong.icon 123
        Integer

      .field-type-list{'data-field_type' => 'note'}
        %i.fas.fa-bars.icon
        Note

    .flex1
      .field-type-list{'data-field_type' => 'text'}
        %strong.icon abc
        Text

      .field-type-list{'data-field_type' => 'image'}
        %i.fas.fa-image.icon
        Image

      .field-type-list{'data-field_type' => 'location'}
        %i.fas.fa-map-marker-alt.icon
        Location

      .field-type-list{'data-field_type' => 'file'}
        %i.fas.fa-paperclip.icon
        File

      - if params['controller'] == 'event_types/form_types'
        .field-type-list{'data-field_type' => 'mapping_field'}
          %i.fas.fa-exchange-alt.icon
          Mapping field
