%fieldset
  .field-wrapper{style: 'margin-top: 10px'}
    = f.hidden_field :_destroy
    = link_to '#', class: "remove_fields btn btn-link btn-remove-option" do
      %i.fa.fa-trash-alt
    = f.text_field :name, placeholder: "option", class: 'form-control'
