- if @event.event_milestones.present? && @event.program.risk_assessment_guideline.present?
  %a.btn.btn-sm{ "data-toggle" => "tooltip", "data-placement" => "right", "title" => t('program.download_risk_assessment_guideline'), href: download_path(file: @event.program.risk_assessment_guideline.path), target: '_blank'}
    %i.fas.fa-download
