%form#exampleModal.modal.fade{action: new_event_path, method: 'get', 'aria-hidden' => 'true', 'aria-labelledby' => 'exampleModalLabel', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title New Event
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      .modal-body
        .form-group.row
          %label.col-sm-3.col-form-label Event Type
          .col-sm-9
            %select.form-control{name: 'event_type_id'}
              - @event_types.each do |event_type|
                %option{value: event_type.id}= event_type.name

      .modal-footer
        %button.btn.btn-primary{type: 'submit'} Next
