%form#exampleModal.modal.fade{action: new_event_path, method: 'get', 'aria-hidden' => 'true', 'aria-labelledby' => 'exampleModalLabel', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title New Event
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      .modal-body
        %fieldset.form-group
          .row
            %legend.col-form-label.col-sm-3.pt-0 Event Type
            .col-sm-9
              - @event_types.each do |event_type|
                .form-check
                  %input.form-check-input{type: 'radio', name: 'event_type_id', id: 'event_type_id', value: event_type.id}
                  %label.form-check-label{for: 'event_type_id'}= event_type.name

      .modal-footer
        %button.btn.btn-primary{type: 'submit'} Next
