/ https://keenthemes.com/keen/preview/demo1/

#wrapper
  %nav.navbar-default.navbar-static-side{:style => "position: fixed;"}
    .sidebar-collapse
      %span.triggerNav{:style => "font-size:30px;cursor:pointer"} ☰ open

      %ul#side-menu.nav
        %li
          %a{:href => "#"}
            %i.fas.fa-cloud
            %span.nav-label Top-up

          %a{:href => "#"}
            %i.fas.fa-cogs
            %span.nav-label Setting

          = link_to destroy_user_session_path, method: :delete do
            %i.fas.fa-key
            %span.nav-label Logout


  #page-wrapper.gray-bg
    content
