- value ||= ''
- tooltip_title ||= t('shared.copied')

.d-flex.align-items-center
  %input.input-for-copy{ value: value }

  / Copied label
  %a.btn.btn-copy.p-0.text-dark{href: '#', style: 'height: 26px;', 'data-toggle' => 'tooltip', title: t('shared.copy')}
    %i.far.fa-copy

  %span.btn-check.d-none{"data-placement" => "top", :title => tooltip_title, "data-trigger": :focus, style: 'height: 26px;'}
    %i.fas.fa-check.text-success
