#interval-follow-up.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      / Header
      .modal-header
        .flex-row-vertical-center
          %h5.modal-title
            = t('program.interval_follow_up')

        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} ×

      .modal-body-content
