.text-left.p-2
  %div
    1). Case close event: After event is closed, the event will be locked automatically at closed_event_date + duration

  %div
    = image_tag "ex1.png", width: 300

  %div.mt-3
    2). Case unlock event: After event is unlocked, the event will be locked automatically at unlocked_event_date + duration

  %div
    = image_tag "ex2.png", width: 300
