#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('program.program_settings')

  .w-50.view-center
    = form_for current_program, url: '/setting', method: :put, class: 'setting' do |f|
      .flex-row{style: 'padding-bottom: 10px; border-bottom: 1px dotted'}
        .flex1= t('program.telegram_notification')
        = f.check_box :enable_telegram, id: 'toggle-telegram'
