#client_apps-index {
  .access-token {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  .status {
    color: red;
  }

  .status.active {
    color: green;
  }
}


#client_apps-info {
  .image-wrapper {
    width: 70%;

    img {
      width: 100%;
    }
  }
}
