#events-event_milestones-new,
#events-event_milestones-create,
#events-event_milestones-edit,
#events-event_milestones-update,
#events-new,
#events-create,
#events-edit,
#events-update {
  .locations {
    padding-left: 120px;
  }

  .image-wrapper {
    position: relative;
    width: 140px;
    height: 140px;
  }

  .image {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .default-image {
    font-size: 40px;
    color: #bababa;
  }

  .image-input {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
  }

  .remove-image {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 20px;
  }

  .remove-file {
    i {
      color: red;
      margin-right: 5px;
    }
  }

  .fields {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 16px;
  }

  .hidden {
    display: none;
  }

  .event-wrapper {
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;

    .event-item:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}

// --------------map
#events-event_milestones-show,
#events-show {
  .hidden {
    display: none !important;
  }

  .circles-list {
    min-width: 245px;
  }

  #map-wrapper {
    position: relative;
    height: 500px;
  }

  #map {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: 500px;
    width: 360px;
  }

  .no-data {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    padding: 40px;
    z-index: 1000;
    width: 200px;
    transform: translate(-50%, -50%);
  }

  .image-wrapper {
    width: 200px;

    img {
      max-width: 100%;
    }
  }
}

#events-index {
  a.uuid {
    width: 88px;
  }

  ul.field-code-wrapper {
    padding-left: 10px;
    padding-left: 10px;

    li {
      list-style: none;
      padding: 3px;
    }
  }

  .keyword {
    width: 300px;
  }

  .btn-download-csv {
    text-align: right;
  }

  #info {
    outline: none;
  }
}
