.small-color {
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 14px;
  border: 0.05rem solid #ccc;
}

.collection_check_boxes {
  margin-left: 6px;
}
