// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#events-index {
  overflow-x: hidden;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
}

#page-wrapper {
  margin: 0 0 0 220px;
  min-height: 1200px;
  padding: 0 15px;
}

.gray-bg {
  background-color: #F2F3F8;
}

.navbar-default {
  height: 100%;
  background-color: #2f4050;
  border-color: #2f4050;
}

.navbar-static-side,
.nav-header,
li.active,
#page-wrapper,
.footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-static-side {
  width: 220px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;

  i {
    margin-right: 6px;
  }
}

/*-------------minibar*/
body.mini-navbar {
  .navbar-static-side {
    width: 70px;
  }

  .navbar-default .nav > li > a {
    font-size: 16px;
  }

  .nav-label, .navbar-default .nav li a span {
    display: none;
  }

  #page-wrapper {
    margin: 0 0 0 70px;
  }
}
