#events-index {
  .popover {
    max-width: 420px;
  }

  .pop-header {
    margin: -0.5rem -0.75rem 0.5rem;
    color: #212529;
  }

  .popover-body {
    color: #111;
  }

  .popup-body {
    max-height: 400px;
    overflow-y: auto;
    margin: -0.5rem -0.75rem;
    padding: 0.5rem 0.75rem;
    background-color: #f8f9fc;
  }

  .follower, .followee {
    small {
      width: 94px;
      line-height: 22px;
    }
  }
}

.channel {
  height: 80px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #dee2e6;
  position: relative;
  border-radius: 5px;
  margin: 0;

  i {
    font-size: 32px;
  }

  .tick-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    color: green;
    display: none;
    font-size: 16px;
  }
}

.channel.disabled {
  pointer-events:none;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #dee2e6 !important;

  i {
    color: gray;
  }
}

.channel.active {
  border: 2px solid green;

  .tick-icon {
    display: block;
  }
}
