#milestones-index {
  .list-row {
    padding: 0.7em;
    border-bottom: 1px solid #ddd;
    cursor: move;
  }

  .name-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
  }

  .status-wrapper {
    display: flex;
    align-items: center;
  }
}

#milestones-new,
#milestones-create,
#milestones-edit,
#milestones-update {
  .mapping-field-type-wrapper {
    width: 100%;
    margin-left: 10px;
    position: relative;
  }

  .section {
    border-color: #111;

    legend {
      font-size: 16px;
    }

    .remove-section {
      margin-bottom: 10px;
    }
  }

  .tagify.form-control {
    height: auto;
    display: inline-flex;
  }
}
