#users-index {
  .confirm-link {
    position: absolute;
    left: -100%;
    opacity: 0;
  }

  .toast-wrapper {
    position: relative;

    .toast {
      position: absolute;
      top: 0;
      right: 100px;
    }
  }

  .status {
    color: orange;
  }

  .status.active {
    color: green;
  }

  .search-email {
    width: 300px;
  }
}
